/* Body and columns */
body {
    height: 100vh;
  }
.col1 {
    background: lightgray;
}
.col2 {
    background: lightgray;
}
.col3 {
    background: whitesmoke;
}

/* Inbox and left buttons */
.btn-email {
    margin-top: 10px;
    margin-bottom: 100px;
}
.btn-secondary {
    text-align: left;
}
.list-group-item {
    text-align: left;
}

/* Message received */
.card {
    margin-top: -500px;
}
.card-text {
    text-align: left;
}
.nav-inbox {
    text-align: start;
}