body {
    height: 100vh;
  }
.col1 {
    background: lightgray;
}
.col2 {
    background: lightgray;
}
.col3 {
    background: whitesmoke;
}

.btn-email {
    margin-top: 5px;
}
/* Message received */
.card {
    margin-top: -500px;
}
.card-text {
    text-align: left;
}
/* .from-to {
    position: relative;
    text-align: left;
    padding: 5px;
    margin-top: -500px;
} */
/* .message {
    text-align: left;
    padding: 5px;
} */

/* .d-flex {
    display: flex;
    flex-direction: column;
} */