/* Body and columns */
body {
    height: 100vh;
  }
.col1 {
    background: lightgray;
}
.col2 {
    background: lightgray;
}
.col3 {
    background: whitesmoke;
}
.header {
    justify-content: center;
    padding: 5px;
    color: rgb(233, 29, 29);
    border-color:gray;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/* Inbox and left buttons */
.btn-email {
    margin-top: 10px;
    margin-bottom: 100px;
}
.btn-secondary {
    text-align: left;
}
.list-group-item {
    text-align: left;
}

/* Message received */
.card {
    margin-top: -500px;
}
.card-text {
    text-align: left;
}
.nav-inbox {
    text-align: start;
}